* {
    margin: 0px;
    padding: 0px;
}
.wrapper {
    width: 1200px;
    height: 580px;
    margin: 0px auto;
}
h1 {
    width: 1200px;
    height: 50px;
    display: block;
}
.content {
    display: flex;
}
.sidebar {
    width: 200px;
    height: 540px;
}
.sidebar a {
    display: block;
    padding: 5px 0px;
}
.main {
    width: 1000px;
    display: block;
}
.new {
    width: 1000px;
    height: 75px;
    display: table;
}
.new form{
    display: flex;
}
.new label {
    display: table-header-group;
    text-align: center;
    margin: 10px;
}
.new input {
    overflow: auto;
    display: table-column-group;
    margin: 10px;
}
.new button {
    float: right;
    padding: 5px;
    margin: 10px;
    display: table-row-group;
}
.entered{
    width: 1000px;
    display: flex;
}
thead td{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.text{
    table-layout: auto;
    width: 400px;
}
.error {
    list-style: none;
    color: red;
}