<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Translation</title>
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static 'translate_app/bg.css' %}" media="screen" title="no title"  charset="utf-8"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <style>
        body {
            background-image: url("{% static 'translate_app/qbkls.png' %}");
        }
    </style> -->
</head>
<body>
    <div class="container">
        <div class="bg"></div>
        <h1>Edit Translations</h1>
        <div class="row">
            <div class="col-md-2">
                <div><a href="/">Home</a></div>
                <div><a href="/edit/langs">Admin - Manage Entries</a></div>
                <div><a href="/newuser">Admin - Add User</a></div>
                <div><a href="/logout">Logout</a></div>
            </div>
            <div class="col-md-10">
                <form action="/change/{{l2_text.id}}" method="post" class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        <label for="lang1">Source Language (Hipster Lorem):</label>
                        <textarea name="lang1" rows="8" cols="60" wrap="soft" class="form-control">{{l2_text.translation.text1}}</textarea>
                    </div><br>
                    <div class="row">
                        <label for="lang2">Translated language (Gansta Lorem):</label>
                        <textarea name="lang2" rows="8" cols="60" wrap="soft" class="form-control">{{l2_text.text2}}</textarea>
                    </div><br>
                    <div class="row">
                        <input type="submit" value="Save translations" class="btn btn-info btn-xs">
                    </div>
                </form>
                <div class="row">                
                    {% if messages %} <!-- errors -->
                        <ul class="messages text-danger">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>